## Population Data
The goal of this code is to load the population dataset collected from FAO stats and process it in a way such that we can utilize it.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
population = pd.read_csv('./raw_data/fao_data_population.csv')
population.head(3)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1950,1950,1000 persons,7752.118,X,International reliable sources,"UNDESA, Population Division – World Population..."
1,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1951,1951,1000 persons,7840.156,X,International reliable sources,NaN
2,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1952,1952,1000 persons,7935.997,X,International reliable sources,NaN

In [45]:
pd.unique(population['Unit'])

array(['1000 persons'], dtype=object)

We see that many of the columns are irrelevant as they contain the same information in all columns. This is Domain Code, Domain, Element, Element Code, Item Code, Item, Year Code (Same as Year) and Note.  
We actually have two Flags: A and X. X is regarded most reliable(_International reliable sources_), but we will also regard A (_Aggregate, may include official, semi-official, estimated or calculated data_) as reliable. Therefore we also remove these columns.

In [46]:
del_col = ['Domain Code', 'Domain', 'Element Code', 'Element', 'Item Code', 'Item', 'Year Code', 'Flag', 'Flag Description', 'Note']
population.drop(del_col, axis = 1, inplace = True)
population.head(5)

   Area Code         Area  Year          Unit     Value
0          2  Afghanistan  1950  1000 persons  7752.118
1          2  Afghanistan  1951  1000 persons  7840.156
2          2  Afghanistan  1952  1000 persons  7935.997
3          2  Afghanistan  1953  1000 persons  8039.694
4          2  Afghanistan  1954  1000 persons  8151.317

In [50]:
for group, area in group_test:
    print(group)

Afghanistan
Africa
Albania
Algeria
American Samoa
Americas
Andorra
Angola
Anguilla
Antigua and Barbuda
Argentina
Armenia
Aruba
Asia
Australia
Australia and New Zealand
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belgium-Luxembourg
Belize
Benin
Bermuda
Bhutan
Bolivia (Plurinational State of)
Bonaire, Sint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Caribbean
Cayman Islands
Central African Republic
Central America
Central Asia
Chad
Channel Islands
Chile
China
China, Hong Kong SAR
China, Macao SAR
China, Taiwan Province of
China, mainland
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Croatia
Cuba
Curaçao
Cyprus
Czechia
Czechoslovakia
Côte d'Ivoire
Democratic People's Republic of Korea
Democratic Republic of the Congo
Denmark
Djibouti
Dominica
Dominican Republic
Eastern Africa
Eastern Asia
Eastern Europe
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Ethiopia PDR
Europe
Falkland Islands (Malvinas)
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Holy See
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Melanesia
Mexico
Micronesia
Micronesia (Federated States of)
Middle Africa
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
Netherlands Antilles (former)
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
North Macedonia
Northern Africa
Northern America
Northern Europe
Northern Mariana Islands
Norway
Oceania
Oman
Pacific Islands Trust Territory
Pakistan
Palau
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Polynesia
Portugal
Puerto Rico
Qatar
Republic of Korea
Republic of Moldova
Romania
Russian Federation
Rwanda
Réunion
Saint Barthélemy
Saint Helena, Ascension and Tristan da Cunha
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Saint-Martin (French Part)
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Serbia and Montenegro
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch Part)
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South America
South Sudan
South-Eastern Asia
Southern Africa
Southern Asia
Southern Europe
Spain
Sri Lanka
Sudan
Sudan (former)
Suriname
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Thailand
Timor-Leste
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
USSR
Uganda
Ukraine
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States Virgin Islands
United States of America
Uruguay
Uzbekistan
Vanuatu
Venezuela (Bolivarian Republic of)
Viet Nam
Wallis and Futuna Islands
Western Africa
Western Asia
Western Europe
Western Sahara
World
Yemen
Yugoslav SFR
Zambia
Zimbabwe